
.colors{
    color: rgb(255, 89, 0);
}
.fieldset1{

    border: 0px;
 text-align: center;
 width: 500px;

}
span{
    color: rgb(15, 108, 230);
 
}




.fieldset2{
    border: 0px;
    width: 300px;
    background-color: rgb(247, 247, 159);
}
